* {
    padding: 0;
    margin: 0;
    font-family: 'Bree Serif', serif;
}

body {
    background-image: url('../img/background.jpg');
}

/* .myalert .container {
    margin-top: 50px;
    margin-bottom: -50px !important;
} */



/* CSS HASIL */

